#question-area{
    width: 50%;
    margin: auto;
    min-height: 100px;
}

#question{
    min-height: 100px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(117, 136, 148, 0.75);
    text-align: center;
    line-height: 100px;
    font-size: 150%;
    color: white;
    font-weight: bold;
    box-shadow: 6px 5px 33px -8px rgb(54, 54, 54);
}


.answer-button{
    margin-top: 10px;
    text-align: center;
    font-size: 130%;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(117, 136, 148, 0.75);
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 33px -8px rgb(54, 54, 54);
}

#answer-row-1{
    margin-top: 10px;
}

.container{
    width: 70%;
}

#score-display{
    min-width: 100px;
    width:200px;
    margin:auto;
    text-align: center;
}

#button2, #button4{
    margin-left: 5px;
}

#game-over-message{
    margin: 10px auto;
    text-align: center;
    color: white;
}

html, body{
    background-color: rgb(40, 83, 108);
}

#score-display{
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.selected{
    background-color: rgb(3, 44, 69);
}

.highlight-red{
    background-color: rgba(214, 41, 41, 0.75);
}

.highlight-green{
    background-color:  rgba(40, 180, 52, 0.75);
}